body {
  background-color: #E0E0E0;
  color: black;
  font: 16px Palatino, Georgia, "Times New Roman", serif;
}

#nav { margin-top: 12px; padding: 0; font-size: 14px; }
#nav ul { list-style: none; margin: 0; padding-left: 8px; }
#nav li {
  display: inline;
  /*border: 1px solid black;*/
  padding: 2px 4px;
  margin-right: 8px;
}

#header { background-color: #8CBDA9; }
.site_id { margin-top: 24px; padding-left: 8px; }
.site_id a { text-decoration: none; color: black; }

#footer { margin-top: 192px; border-top: 1px solid #797979; }

.main_content { margin-top: 36px; }

#tags { margin-top: 36px; border: 1px solid red; }

.big { font-size: 18px; }
.mid { font-size: 14px; }

#tasks li { margin-bottom: 8px; }
