body {
  font-size: 12.5px;
  font-family: 'Verdana', sans-serif; 
}

#nav1 { border-bottom: 1px solid #797979; }
#nav1 a {
  font-weight: bold; 
  margin-right: 8px;
  text-decoration: none;
}

#site_id { margin-top: 5px; }
#site_id h3 { color: #797979; }

#index-search { margin-top: 40px; }

#stuff label { display: block; }

#footer { margin-top: 20px; border-top: 1px solid #797979 }

#multitag { font-weight: normal; font-size: 12px; }

#inbox, #stuff, #task-details, #next, #someday { margin-top: 20px; }

#task-details h5 { margin-bottom: 3px; }
#taskbox { border: 1px solid #22222B; padding: 4px; }
#taskbox p { font-size: 10.5px; color: #797979; }
