body { font-size: 13px; }

li { font-size: 14px; margin-bottom: 2px; }

#newstuff { border: 1px solid #797979; padding-left: 8px; }
#newstuff label { display: block; font-size: 18px; margin-bottom: 5px; }
#stuff { font-size: 18px; }

#header #search { padding-top: 5px; margin-top: 6px; }

#nav1 { border-bottom: 2px solid #797979; }

#nav1 a:link,
#nav1 a:visited {
  color: #32381E;
  text-decoration: none;
  font-weight: bold;
  margin-right: 8px;
  font-size: 14px;
}

#footer { border-top: 2px solid #797979; margin-top: 48px; }

#content { margin-top: 20px; }

#alltags { border: 1px solid #797979; margin-top: 20px; }

#alltags h3 { padding-top: 4px; text-align: center; }

#alltags ul { padding-bottom: 10px; list-style-type: none; }

#alltags li { margin-left: -8px; }

#moveto { margin-top: 20px; }

#moveto, #tags {
  padding: 8px;
  border: 1px solid #797979;
  margin-bottom: 10px;
}

#moveto h4, #tags h4 { margin-bottom: 5px; }
#moveto p { margin: 0 0 2px 4px; }

#tags ul { list-style-type: none; margin-left: 2px; }

#task { padding: 8px; }
.posted { margin: 0; padding: 0; }
.trash { background-color: #E9C2BE; }
.next { background-color: #C9EDCC; }
.stuff { background-color: #E0FF92; }
.someday { background-color: #C2CFF1; }

#tform { margin-bottom: 10px; }
#tform form { padding: 8px; background-color: #CCCCDD; }

#cform { margin-top: 15px; }
#cform input#post { margin-left: 10px; }

#comments { padding: 0; margin-top: 15px; }
#comments ul { margin: 10px 0 0 0; list-style-type: none; }
#comments li { padding: 4px; border: 1px solid #797979; margin-bottom: 8px; }
